.container {
  position: absolute;
  left: 0;
  top: calc(100% + 0.7rem);

  width: inherit;
  min-height: 9.8rem;
  padding: 2.4rem 2.4rem 1.6rem;

  text-align: left;

  border-radius: 2rem;
  background-color: #ffffff;

  box-shadow: 0px 2px 10px 0px #0000001a;

  z-index: 10;
}

.separator-box {
  padding-top: 2rem;
}

.separator {
  padding-bottom: 2rem;

  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #6a737b;
}

.recent-item {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 0.5rem;

  gap: 1rem;

  &:hover {
    background-color: #efefef;
  }
}

.small-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.bold-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.search-text {
  font-size: 1.4rem;
}

.light-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #a7afb7;
}
