.container {
  width: 43rem;
  height: 18rem;

  border: 1px solid #d7dce0;
  border-radius: 1rem;
  background-color: #ffffff;
}

.item-container {
  padding: 2rem;
}

.link-container {
  width: 100%;
  height: 100%;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sponsor-name {
  font-size: 1rem;
  text-align: left;
  color: #506a89;
}

.clickable {
  width: 2rem;
  height: 2rem;
}

.bookmark {
  width: 1.3rem;
  height: 1.65rem;
}

.mid-container {
  width: 39rem;
  height: 5.4rem;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.summary {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-align: left;
}

.bottom-container {
  padding-top: 0.4rem;
}

.detail {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: left;

  color: #90959a;

  padding-bottom: 0.4rem;
}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  gap: 0.5rem;
}

.tag {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  background-color: #eef0f2;
}

// SearchItemLayout
.list-container {
  max-width: 100rem;
  height: 100%;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 43rem));
  grid-gap: 3rem;

  align-items: center;
  justify-content: center;

  padding-top: 6rem;

  @media (max-width: 700px) {
    grid-template-columns: repeat(1, minmax(0, 43rem));
    row-gap: 3rem;
  }
}
