.container {
  position: absolute;
  inset: 50% 0 0 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-left-color: #3498db;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  padding-top: 1rem;
}
